# Don't track content of these folders
phase1/db/
phase1/output_files

incremental_db/
output_files/
simulation/
db/

*.bak
*.qpf
*.qsf
*.qws
*.kpt
*.json
*.rpt
*.logdb
*.tdf
*.flock
*.hdb
*.cdb
*.qmsg
*.idb
*.xml
*.txt
*.bpm
*.vhd
